*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 5vw;
    background-color: darkcyan;
}
section{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.boxViewPreFacturas{
    width: 45%;
    margin: 0 1vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.boxPreVisual{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .5vw;
}
.boxPreVisual label{
    font-size: 18px;
    font-weight: bold;
    color:rgb(226, 203, 0);
}
input[type=checkbox]{
  /* Doble-tamaño Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari y Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 0 1vw;
}
.preVisual{
    min-width: fit-content;
    background-color: rgb(104, 104, 104);
    height: 50px;
    width: 80%;
    margin: .5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:1px solid black;
    cursor: pointer;
    border-radius: 1vw;
    padding:0 .5vw;
}
.preVisual:hover{
    background-color: rgba(169, 169, 169, 0.801);
    transition: .25s ease;
}
.preVisual h4 span{
    color: rgb(226, 203, 0);
    font-weight: bold;
}
.viewFactura{
    min-width: 400px;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.822);
    padding: .5vw;
    border-radius: 2vw;
    min-height: 350px;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.viewFactura h2{
    color: rgb(31, 156, 0);
    text-align: center;
}
.infoClient span,.infoFactura span{
    font-weight: bold;
}
.infoClient,.infoFactura table{
    margin: 2vh 0;
}
.infoFactura table{
    text-align: start;
    width: 100%;
}
.tableConcept{
    text-align: left;
}
.tableMonto{
    text-align: right;
}
.totalesPagar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.montoSinVencer,.montoVencido{
    font-weight: bold;
}
.verde{
    color:green;
}
.rojo{
    color:rgb(148, 0, 0);
}
/*Calcular facturas*/
.calcularFacturas{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 2vw;
    background-color: rgba(0, 93, 93, 0.719);
    border:2px inset rgba(0, 65, 65, 0.719);
    max-width: 350px;
    min-width: 320px;
}
.calcularFacturas input{
    width: 50px;    
}
.bCalcular,.bPagarFacturas{
    margin-top: 2vw;
    width: 80px;
    background-color: green;
    border-radius: 2vw;
    border: 3px inset rgb(1, 97, 1);
}
.bCalcular:hover,.bPagarFacturas:hover{
    cursor: pointer;
    background-color: rgb(0, 92, 0);
    transition: .5 linear;
}
.bCalcular:active,.bPagarFacturas:active{
    cursor: pointer;
    background-color: rgb(0, 66, 0);
}
.bCalcular span,.bPagarFacturas span{
    font-weight: bold;
    color: white;
}
.bPagarFacturas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    min-width: 200px;
    height: 40px;
}
/*Semaforo*/
.semaforoSection{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2vw;
}
.boxSemaforos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.semaforo{
    margin: 1vw 2.5vw;
    width: 80px;
    background-color: rgb(121, 156, 7);
    border-radius:2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    border:1vw inset rgb(121, 156, 7)
}
.foco{
    margin: 1vw 0;
    width: 50px;
    height: 50px;
    border-radius: 50vw;
}
.verde{
    background-color: green;
    transition: 1s linear;
    transform: scale(1.125);
}
.amarillo{
    background-color: yellow;
    transition: 1s linear;
    transform: scale(1.125);
}
.rojo{
    background-color: red;
    transition: 1s linear;
    transform: scale(1.125);
}
.gris{
    background-color: grey;
    transition: .5s linear;
    transform: scale(1);
}